{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Raxlo Limited - Transport and Construction solution provider">
  <link href="{% static 'assets/images/favicon/favicon.png' %}" rel="icon">
  <title>Raxlo Limited | Transport and Construction solution provider</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Rubik:400,500,600,700%7cRoboto:400,500,700&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
  <link rel="stylesheet" href="{% static 'assets/css/libraries.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
  <div class="wrapper">
    <div class="preloader">
      <div class="spinner"><span class="cube1"></span><span class="cube2"></span></div>
    </div><!-- /.preloader -->

    <!-- =========================
        Header
    =========================== -->
    <header class="header header-light header-layout1">
      <div class="header-topbar d-none d-xl-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7">
              <div class="d-flex flex-wrap justify-content-between">
                <ul class="contact-list list-unstyled mb-0 d-flex flex-wrap">
                  <li>
                    <i class="icon-phone"></i><span>Phone:</span>
                    <a href="tel:+254716472953">+254 716 472 953</a>
                  </li>
                  <li>
                    <i class="icon-envelope"></i><span>Email:</span>
                    <a href="mailto:raxlocompany@gmail.com">raxlocompany@gmail.com</a>
                  </li>
                  <li><i class="icon-clock"></i><span>Hours: Mon-Fri: 8am – 5pm</span></li>
                </ul>
              </div>
            </div><!-- /.col-lg-7 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.header-topbar -->

      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid px-0">
          <a class="navbar-brand" href="{% url 'home-view' %}">
            <img src="{% static 'assets/images/logo/logo-dark.png' %}" class="logo-dark" alt="logo">
          </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item with-dropdown">
                <a href="{% url 'home-view' %}" class="nav__item-link active">Home</a>
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="{% url 'company-view' %}" class=" nav__item-link">Company</a>
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="{% url 'services-view' %}" class="dropdown-toggle nav__item-link">Services</a>
                <i class="fa fa-angle-down" data-toggle="dropdown"></i>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a href="{% url 'construction-view' %}" class="nav__item-link">Building & Construction</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="{% url 'machinery-view' %}" class="nav__item-link">Commercial Vehicles and Machinery</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="{% url 'transport-view' %}" class="nav__item-link">Transport & Logistics</a></li>
                  <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="{% url 'contact-view' %}" class="nav__item-link">Contact Us</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
          </div><!-- /.navbar-collapse -->
          <div class="header-actions d-flex align-items-center">
            <a href="" class="btn btn__primary action-btn__request">
              <span>Request A Quote</span><i class="icon-arrow-right"></i>
            </a>
          </div>
        </div><!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->

    {% block content %}

    {% endblock %}


    <!-- ========================
      Footer
    ========================== -->
    <footer class="footer">
      <div class="footer-primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-4 footer-widget footer-widget-about">
              <h6 class="footer-widget-title">About Raxlo</h6>
              <div class="footer-widget-content">
                <p class="mb-20">A leading developer of A-grade commercial, industrial and residential projects in East Africa.
                  Since its foundation the company has doubled its turnover year on year with its staff.</p>
                <a href="" class="btn btn__primary btn__link ">
                  <i class="icon-arrow-right"></i><span>Request A Quote</span>
                </a>
              </div>
            </div><!-- /.col-xl-4 -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2 footer-widget footer-widget-nav">
              <h6 class="footer-widget-title">Services</h6>
              <div class="footer-widget-content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#">Construction</a></li>
                    <li><a href="#">Commercial Vehicles & Machinery</a></li>
                    <li><a href="#">Transport & Logistics</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2 footer-widget footer-widget-nav">
              <h6 class="footer-widget-title">Company</h6>
              <div class="footer-widget-content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="{% url 'company-view' %}">About Us</a></li>
                    <li><a href="{% url 'services-view' %}">Services</a></li>
                    <li><a href="{% url 'contact-view' %}">Contacts</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 footer-widget footer-widget-contact">
              <h6 class="footer-widget-title">Quick Contact</h6>
              <div class="footer-widget-content">
                <p class="mb-20">If you have any questions or need help, feel free to contact us.</p>
                <a class="contact-number contact-number-white d-flex align-items-center mb-20" href="tel:+254716472953">
                  <i class="icon-phone"></i><span>+254 716 472 953</span>
                </a><!-- /.contact__numbr -->
                <p class="">Brookside Heights Apartments, 4th Floor.
                  </br>No. 4 Brookside Drive, Westlands
                  </br>Nairobi, Kenya
                  </br>P.O Box 75740 - 00200
                </p>
                <a href="mailto:raxlocompany@gmail.com">raxlocompany@gmail.com</a>
                <ul class="social-icons list-unstyled">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul><!-- /.social-icons -->
              </div><!-- /.footer-widget-content -->
            </div><!-- /.col-xl-4 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-primary -->
      <div class="footer-copyrights">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
              <p class="mb-0"> &copy; <script>document.write(new Date().getFullYear())</script> Raxlo Limited. By
                <a href="http://flatvalley.co.ke" target="blank">Flat Valley Solutions</a>
              </p>
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-copyrights-->
    </footer><!-- /.Footer -->
    <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>

    <div class="search-popup">
      <i class="search-popup__close">&times;</i>
      <form class="search-popup__form">
        <input type="text" class="search-popup__form__input" placeholder="Type Words Then Enter">
        <button class="search-popup__btn"><i class="fas fa-search"></i></button>
      </form>
    </div><!-- /. search-popup -->

  </div><!-- /.wrapper -->

  <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>