{% extends 'base.html' %}
{% load static %}

{% block content %}



    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-parallax">
        <div class="bg-img"><img src="assets/images/page-titles/1.jpg" alt="background"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
              <span class="pagetitle__subheading">We Work With Global Industries!</span>
              <h1 class="pagetitle__heading">We Help Build On Past & Prepare For Your Future.</h1>
              <a href="projects-grid.html" class="btn btn__white">Our Services</a>
            </div><!-- /.col-xl-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.page-title -->
  
      <!-- ========================
        About Layout 2
      =========================== -->
      <section class="about-layout2">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="about-img-container">
                <div class="about-img">
                  <img src="assets/images/about/1.jpg" alt="about" class="img-fluid">
                </div><!-- /.about-img -->
                <div class="about-img">
                  <img src="assets/images/about/2.jpg" alt="about" class="img-fluid">
                </div><!-- /.about-img -->
              </div>
              <div class="video-box">
                <a class="video-btn video-btn-white popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                  <div class="video-btn__player">
                    <i class="fa fa-play"></i>
                  </div>
                </a>
              </div><!-- /.video__box -->
            </div><!-- /.col-xl-5 -->
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="text-container heading-layout2">
                <h3 class="heading__title">Ready to Bring Bigger, Better, Faster & Stronger Projects Than Ever!!</h3>
                <p class="heading__desc mt-30 mb-30">Amarou is a representative Industrial Construction operator
                  providing full range of service in the sphere of Civil Construction & Mechanical Engineering worldwide
                  for any type of industrial soultions.
                </p>
                <p class="heading__desc mb-30">Yet those that embrace change are thriving, building bigger, better,
                  faster, and
                  stronger products than ever before. You are helping lead the charge; we can help you build on your past
                  and prepare future changing faster than ever before, Amarou Constructions are evolving.</p>
                <ul class="list-items list-unstyled mb-40">
                  <li>Quality Control System, 100% Satisfaction Guarantee</li>
                  <li>Highly Professional Staff, Accurate Testing Processes</li>
                  <li>Unrivalled workmanship, Professional and Qualified</li>
                </ul>
                <a href="projects-grid.html" class="btn btn__secondary btn__icon">
                  <i class="icon-arrow-right"></i><span>Schedule An Appointment</span>
                </a>
              </div><!-- /heading -->
            </div><!-- /.col-xl-7 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.About Layout 2 -->
  
      <!-- =========================
         Banner layout 2
        =========================== -->
      <section class="banner-layout2 bg-overlay bg-overlay-theme bg-parallax pb-0">
        <div class="bg-img"><img src="assets/images/banners/2.jpg" alt="background"></div>
        <div class="container">
          <div class="row heading-layout3 heading-light mb-50">
            <div class="col-sm-12 col-md-12 col-lg-5">
              <h2 class="heading__subtitle">We Work With Global Industries!</h2>
              <h3 class="heading__title">We Help Build On Past & Prepare For Your Future.</h3>
            </div><!-- /.col-lg-5 -->
            <div class="col-sm-12 col-md-12 col-lg-7">
              <p class="heading__desc mb-50">Yet those that embrace change are thriving, building bigger, better, faster,
                and stronger products than ever before. You are helping lead the charge; we can help you build on your
                past and prepare future changing faster than ever before. Through integrated supply solutions drives
                competitive advantages.</p>
              <div class="row fancybox-light">
                <!-- fancybox item #1 -->
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox-item__icon">
                      <i class="icon-warning"></i>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox-item__content">
                      <h4 class="fancybox-item__title">Control System</h4>
                      <p class="fancybox-item__desc">High security requirements and are certified .</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-44 -->
                <!-- fancybox item #2 -->
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox-item__icon">
                      <i class="icon-laser-level"></i>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox-item__content">
                      <h4 class="fancybox-item__title">100% Satisfaction</h4>
                      <p class="fancybox-item__desc">Building projects impressive list of long-term clients.</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
                <!-- fancybox item #3 -->
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox-item__icon">
                      <i class="icon-disc-grinder"></i>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox-item__content">
                      <h4 class="fancybox-item__title">Professional Staff</h4>
                      <p class="fancybox-item__desc">Involves of unknown risks and challenging regulations.</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.col-lg-7 -->
          </div><!-- /.row -->
          <div class="container col-padding-0 feature-banners-wrapper">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="feature-banner">
                  <div class="feature-banner__img">
                    <img src="assets/images/features/1.jpg" alt="feature" class="w-100">
                  </div><!-- /.feature-banner__img -->
                  <div class="feature-banner__content">
                    <div class="feature-banner__icon">
                      <i class="icon-chainsaw"></i>
                    </div><!-- /.fancybox-icon -->
                    <h4 class="feature-banner__title">Unrivalled workmanship, Professional and Qualified</h4>
                  </div><!-- /.eature-banner__content -->
                </div><!-- /.feature-banner -->
              </div><!-- /.col-lg-6 -->
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="feature-banner">
                  <div class="feature-banner__img">
                    <img src="assets/images/features/2.jpg" alt="feature" class="w-100">
                  </div><!-- /.feature-banner__img -->
                  <div class="feature-banner__content">
                    <div class="feature-banner__icon">
                      <i class="icon-brush"></i>
                    </div><!-- /.fancybox-icon -->
                    <h4 class="feature-banner__title">Highly Professional Staff, Accurate Testing Processes</h4>
                  </div><!-- /.eature-banner__content -->
                </div><!-- /.feature-banner -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.container -->
      </section><!-- /.Banner layout 2 -->
  
      <!-- =========================== 
        counters
      ============================= -->
      <section class="counters-layout2">
        <div class="bg-img"><img src="assets/images/backgrounds/2.jpg" alt="background"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
              <div class="heading-layout3 mb-70">
                <h2 class="heading__subtitle">Work With All The Major Industry Suppliers</h2>
                <h3 class="heading__title">Committed To Delivering High Quality Construction Projects And Innovate Design!
                </h3>
              </div><!-- /.heading -->
            </div><!-- /.col-lg-8 -->
          </div><!-- /.row -->
          <div class="row">
            <!-- counter item #1 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">6,154</h4>
                <p class="counter-item__desc">Projects And Residentials Completed in 2020</p>
              </div>
              <hr>
              <p>Yet those that embrace change are thriving, building bigger, better, faster, and stronger products than
                ever.</p>
              <ul class="list-items list-items-layout2 list-unstyled">
                <li>Download Brochures</li>
                <li>Pricing and Plans</li>
                <li>Request Quote</li>
              </ul>
            </div><!-- /.col-sm-3 -->
            <!-- counter item #2 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">2,512</h4>
                <p class="counter-item__desc">Qualified Employees And Workers With Us</p>
              </div>
              <hr>
              <p>You are helping lead the charge; we can help you build on your past and prepare future changing faster.
              </p>
              <ul class="list-items list-items-layout2 list-unstyled">
                <li>Our Leadership Team</li>
                <li>Awards & Regognition</li>
                <li>Join Our Team</li>
              </ul>
            </div><!-- /.col-sm-3 -->
            <!-- counter item #3 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">1,784</h4>
                <p class="counter-item__desc">Satisfied Clients We Have Served Globally</p>
              </div>
              <hr>
              <p>Industrial Construction operator providing full range of service in the sphere of Civil Construction.</p>
              <ul class="list-items list-items-layout2 list-unstyled">
                <li>Clients & Investors</li>
                <li>Our Locations</li>
                <li>Contsct Us</li>
              </ul>
            </div><!-- /.col-sm-3 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">0,46</h4>
                <p class="counter-item__desc">Years Of Experience In The Construction Industry</p>
              </div>
              <hr>
              <p>Since its foundation the company has doubled its turnover year on year with our experienced staff.</p>
              <ul class="list-items list-items-layout2 list-unstyled">
                <li>Mission and Vission</li>
                <li>Company History</li>
                <li>Help & FAQs</li>
              </ul>
            </div><!-- /.col-sm-3 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.counters -->
  
      <!-- =========================
         Banner layout 1
        =========================== -->
      <section class="banner-layout1 py-0 has-top-gray">
        <div class="container-fluid col-padding-0">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-7">
              <img src="assets/images/banners/1.jpg" alt="banner" class="w-100">
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-12 col-lg-5">
              <div class="banner-panel">
                <a class="video-btn video-btn-md popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                  <div class="video-btn__player">
                    <i class="fa fa-play"></i>
                  </div>
                  <span class="video-btn__title">Watch Our Intro!</span>
                </a>
                <div class="heading-layout2 mt-20 mb-20">
                  <h3 class="heading__title">Providing Full Range Services And Soultions Worldwide. </h3>
                </div><!-- /.heading -->
                <div id="accordion">
                  <div class="accordion-item">
                    <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse1">
                      <a class="accordion__item-title" href="#">Which Plan Is Right For Me?</a>
                    </div><!-- /.accordion-item-header -->
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                      <div class="accordion__item-body">
                        <p>With any financial product that you buy, it is important that you know you are getting the best
                          advice from a reputable company as often</p>
                      </div><!-- /.accordion-item-body -->
                    </div>
                  </div><!-- /.accordion-item -->
                  <div class="accordion-item">
                    <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse2">
                      <a class="accordion__item-title" href="#">Do I have to commit to a contract?</a>
                    </div><!-- /.accordion-item-header -->
                    <div id="collapse2" class="collapse" data-parent="#accordion">
                      <div class="accordion__item-body">
                        <p>With any financial product that you buy, it is important that you know you are getting the best
                          advice from a reputable company as often</p>
                      </div><!-- /.accordion-item-body -->
                    </div>
                  </div><!-- /.accordion-item -->
                  <div class="accordion-item opened">
                    <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse3">
                      <a class="accordion__item-title" href="#">What Payment Methods Are Available?</a>
                    </div><!-- /.accordion-item-header -->
                    <div id="collapse3" class="collapse show" data-parent="#accordion">
                      <div class="accordion__item-body">
                        <p>With any financial product that you buy, it is important that you know you are getting the best
                          advice from a reputable company as often</p>
                      </div><!-- /.accordion-item-body -->
                    </div>
                  </div><!-- /.accordion-item -->
                </div><!-- /.accordion -->
              </div><!-- /.banner-panel -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Banner layout 1 -->



{% endblock %}