{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================
        Services Layout 1
    =========================== -->
    <section class="services-layout1 pb-90">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
              <div class="heading text-center mb-40">
                <h2 class="heading__subtitle">Quality Solutions For Industries!</h2>
                <h3 class="heading__title">Best A Grade Commercial & Residential Solutions</h3>
              </div><!-- /.heading -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service-item__content">
                  <div class="service-item__icon">
                    <i class="icon-concrete-mixer"></i>
                  </div><!-- /.service-item__icon -->
                  <h4 class="service-item__title">Building <br> & Construction</h4>
                  <p class="service-item__desc">
                    Construction projects are complex undertakings, often involving dozens of 
                    subcontractors and suppliers, thousands of workers, and millions in material, 
                    equipment, and services
                  </p>
                  <ul class="list-items list-items-layout2 list-unstyled mb-30">
                    <li>Wide equipment catalogue</li>
                    <li>Reliability</li>
                    <li>Safety and security</li>
                  </ul>
                  <a href="{% url 'construction-view' %}" class="btn btn__secondary">
                    <i class="icon-arrow-right"></i>
                    <span>Read More</span>
                  </a>
                </div>
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service-item__content">
                  <div class="service-item__icon">
                    <i class="icon-excavator"></i>
                  </div><!-- /.service-item__icon -->
                  <h4 class="service-item__title">Commercial Vehicles <br> & Machinery </h4>
                  <p class="service-item__desc">
                    With a wide range of vehicles and machinery, selecting the right equipment for the
                    job is difficult. We will help you choose the best equipment through understanding the underlying objective.
                  </p>
                  <ul class="list-items list-items-layout2 list-unstyled mb-30">
                    <li>Transparent Pricing</li>
                    <li>Integrity</li>
                    <li>8/5 support</li>
                  </ul>
                  <a href="{% url 'machinery-view' %}" class="btn btn__secondary">
                    <i class="icon-arrow-right"></i>
                    <span>Read More</span>
                  </a>
                </div>
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service-item__content">
                  <div class="service-item__icon">
                    <i class="icon-dump-truck"></i>
                  </div><!-- /.service-item__icon -->
                  <h4 class="service-item__title">Transport &<br> Logistics</h4>
                  <p class="service-item__desc">
                    With 15 years of experience, a wide range of vehicles, services and expertise available, 
                    we are ideally placed to provide you with everything you need to get your goods delivered.
                  </p>
                  <ul class="list-items list-items-layout2 list-unstyled mb-30">
                    <li>Timely delivery</li>
                    <li>Wide vehicle options</li>
                    <li>Tracking</li>
                  </ul>
                  <a href="{% url 'transport-view' %}" class="btn btn__secondary">
                    <i class="icon-arrow-right"></i>
                    <span>Read More</span>
                  </a>
                </div>
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->

          </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.Services Layout 1 -->


<!-- =====================
         Clients
      ======================== -->
    <section class="clients border-top pt-40 pb-40">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="slick-carousel"
            data-slick='{"slidesToShow": 6, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 4}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
            <div class="client">
                <img src="assets/images/clients/1.png" alt="client">
                <img src="assets/images/clients/1.png" alt="client">
            </div><!-- /.client -->
            <div class="client">
                <img src="assets/images/clients/2.png" alt="client">
                <img src="assets/images/clients/2.png" alt="client">
            </div><!-- /.client -->
            <div class="client">
                <img src="assets/images/clients/3.png" alt="client">
                <img src="assets/images/clients/3.png" alt="client">
            </div><!-- /.client -->
            <div class="client">
                <img src="assets/images/clients/4.png" alt="client">
                <img src="assets/images/clients/4.png" alt="client">
            </div><!-- /.client -->
            <div class="client">
                <img src="assets/images/clients/5.png" alt="client">
                <img src="assets/images/clients/5.png" alt="client">
            </div><!-- /.client -->
            <div class="client">
                <img src="assets/images/clients/6.png" alt="client">
                <img src="assets/images/clients/6.png" alt="client">
            </div><!-- /.client -->
            <div class="client">
                <img src="assets/images/clients/7.png" alt="client">
                <img src="assets/images/clients/7.png" alt="client">
            </div><!-- /.client -->
            <div class="client">
                <img src="assets/images/clients/8.png" alt="client">
                <img src="assets/images/clients/8.png" alt="client">
            </div><!-- /.client -->
            </div><!-- /.carousel -->
        </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    </section><!-- /.clients -->
    

{% endblock %}