{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout7 bg-overlay bg-parallax">
        <div class="bg-img"><img src="{% static 'assets/images/page-titles/7.jpg' %}" alt="background"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <nav>
                    <ol class="breadcrumb mb-20">
                        <li class="breadcrumb-item"><a href="{% url 'home-view' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'services-view' %}">Services</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Transport & Logistics</li>
                    </ol>
                    </nav>
                    <h1 class="pagetitle__heading mb-0">Transport & Logistics</h1>
                </div><!-- /.col-xl-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.page-title -->




<!-- ======================
      Text Content Section
    ========================= -->
    <section class="text-content-section pb-90">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
              <aside class="sidebar mb-30">
                <div class="widget widget-categories">
                  <h5 class="widget-title">Services</h5>
                  <div class="widget-content">
                    <ul class="list-unstyled">
                      <li>
                        <a href="{% url 'construction-view' %}" >Building & Construction</a>
                      </li>
                      <li>
                        <a href="{% url 'machinery-view' %}">Commercial Vehicles & Machinery</a>
                      </li>
                      <li>
                        <a href="{% url 'transport-view' %}" class="active">Transport & Logistics</a>
                      </li>
                    </ul>
                  </div><!-- /.widget-content -->
                </div><!-- /.widget-categories -->
                <div class="widget widget-help bg-overlay bg-overlay-theme">
                  <div class="bg-img">
                    <img src="assets/images/banners/6.jpg" alt="banner">
                  </div>
                  <div class="widget-content">
                    <h5 class="widget-help__title">Dedicated Customer Teams & Agile Services</h5>
                    <p class="widget-help__desc">Our goal is to ensure timeliness, cost efficiency compliance
                      adherence required to ensure your production timelines are met.
                    </p>
                    <a href="#" class="btn btn__white btn__block">
                      <i class="icon-arrow-right"></i><span>Schedule An Appointment</span>
                    </a>
                  </div><!-- /.widget-download -->
                </div><!-- /.widget-help -->
              </aside><!-- /.sidebar -->
            </div><!-- /.col-lg-4 -->
            <div class="col-sm-12 col-md-12 col-lg-8">
              <h5 class="mb-40">A leading developer of A grade commercial, industrial & residential projects in USA. Since
                foundation we doubled turnover year on year, with its staff numbers swelling accordingly. </h5>
              <div class="portfolio-grid-layout3">
                <div class="row">
                  <!-- portfolio item #1 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="portfolio-item">
                      <div class="portfolio-item__img">
                        <img src="assets/images/portfolio/tiles/1.jpg" alt="portfolio img">
                      </div><!-- /.portfolio-img -->
                      <div class="portfolio-item__content">
                        <h4 class="portfolio-item__title"><a href="projects-single-project.html">The Fallingwater House</a></h4>
                        <div class="portfolio-item__cat">
                          <a href="#">Building</a><a href="#">Interior</a>
                        </div><!-- /.portfolio-cat -->
                      </div><!-- /.portfolio-content -->
                    </div><!-- /.portfolio-item -->
                  </div><!-- /.col-lg-4 -->
                  <!-- portfolio item #2 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="portfolio-item">
                      <div class="portfolio-item__img">
                        <img src="assets/images/portfolio/tiles/2.jpg" alt="portfolio img">
                      </div><!-- /.portfolio-img -->
                      <div class="portfolio-item__content">
                        <h4 class="portfolio-item__title"><a href="projects-single-project.html">The Guggenheim Museum</a></h4>
                        <div class="portfolio-item__cat">
                          <a href="#">Construction</a><a href="#">Engineering</a>
                        </div><!-- /.portfolio-cat -->
                      </div><!-- /.portfolio-content -->
                    </div><!-- /.portfolio-item -->
                  </div><!-- /.col-lg-4 -->
                  <!-- portfolio item #3 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="portfolio-item">
                      <div class="portfolio-item__img">
                        <img src="assets/images/portfolio/tiles/3.jpg" alt="portfolio img">
                      </div><!-- /.portfolio-img -->
                      <div class="portfolio-item__content">
                        <h4 class="portfolio-item__title"><a href="projects-single-project.html">Neue National Galerie</a></h4>
                        <div class="portfolio-item__cat">
                          <a href="#">Renovation</a><a href="#">Architecture</a>
                        </div><!-- /.portfolio-cat -->
                      </div><!-- /.portfolio-content -->
                    </div><!-- /.portfolio-item -->
                  </div><!-- /.col-lg-4 -->
                  <!-- portfolio item #4 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="portfolio-item">
                      <div class="portfolio-item__img">
                        <img src="assets/images/portfolio/tiles/4.jpg" alt="portfolio img">
                      </div><!-- /.portfolio-img -->
                      <div class="portfolio-item__content">
                        <h4 class="portfolio-item__title"><a href="projects-single-project.html">Sagrada Familia</a></h4>
                        <div class="portfolio-item__cat">
                          <a href="#">Construstion</a><a href="#">Cuilding</a>
                        </div><!-- /.portfolio-cat -->
                      </div><!-- /.portfolio-content -->
                    </div><!-- /.portfolio-item -->
                  </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
              </div><!-- /.portfolio-grid-layout2 -->
              <div class="text-block mb-30">
                <h5 class="text-block__title">Overview</h5>
                <p class="text-block__desc">Our airfreight staff attaches great importance to customizing the booking
                  process for our customers. That’s why we strive to find the air freight solution that best suits your
                  needs. We’ll ask you when the freight is available, what the required delivery date is, and if there’s
                  potential to save on time or cost. Your answers to these and other questions help us decide if you
                  should book the air freight as direct.</p>
              </div><!-- /.text-block -->
  
              <div class="row counters-layout2">
                <!-- counter item #1 -->
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="counter-item">
                    <h4 class="counter">6,154</h4>
                    <p class="counter-item__desc">Projects & Residentials Completed in 2020</p>
                  </div>
                  <hr>
                  <p>Yet those that embrace change are thriving, building bigger, better, faster, and stronger.</p>
                  <ul class="list-items list-items-layout2 list-unstyled">
                    <li>Download Brochures</li>
                    <li>Pricing and Plans</li>
                    <li>Request Quote</li>
                  </ul>
                </div><!-- /.col-sm-3 -->
                <!-- counter item #2 -->
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="counter-item">
                    <h4 class="counter">2,512</h4>
                    <p class="counter-item__desc">Qualified Employees And Workers With Us</p>
                  </div>
                  <hr>
                  <p>You are helping lead the charge; we can help you build on your past and prepare future changing
                  </p>
                  <ul class="list-items list-items-layout2 list-unstyled">
                    <li>Our Leadership Team</li>
                    <li>Awards & Regognition</li>
                    <li>Join Our Team</li>
                  </ul>
                </div><!-- /.col-sm-3 -->
                <!-- counter item #3 -->
                <div class="col-sm-12 col-md-4 col-lg-4">
                  <div class="counter-item">
                    <h4 class="counter">1,784</h4>
                    <p class="counter-item__desc">Satisfied Clients We Have Served Globally</p>
                  </div>
                  <hr>
                  <p>Industrial Construction operator providing full range of service in the sphere of Civil Construction.
                  </p>
                  <ul class="list-items list-items-layout2 list-unstyled">
                    <li>Clients & Investors</li>
                    <li>Our Locations</li>
                    <li>Contsct Us</li>
                  </ul>
                </div><!-- /.col-sm-3 -->
              </div><!-- /.row -->
  
              <h5 class="fz-25 mt-20">Key Benifits</h5>
              <div id="accordion" class="mb-60">
                <div class="accordion-item">
                  <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse1">
                    <a class="accordion__item-title" href="#">Which Plan Is Right For Me?</a>
                  </div><!-- /.accordion-item-header -->
                  <div id="collapse1" class="collapse" data-parent="#accordion">
                    <div class="accordion__item-body">
                      <p>Fully responsive, retina ready & created for all types of devices. York makes sure your
                        website
                        looks equally breathtaking when viewed on all screen resolutions.Fully responsive, retina
                        ready
                        & created for all types of devices. York makes sure your website looks equally breathtaking
                        when
                        viewed on all screen resolutions.</p>
                    </div><!-- /.accordion-item-body -->
                  </div>
                </div><!-- /.accordion-item -->
                <div class="accordion-item">
                  <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse2">
                    <a class="accordion__item-title" href="#">Do I have to commit to a contract?</a>
                  </div><!-- /.accordion-item-header -->
                  <div id="collapse2" class="collapse" data-parent="#accordion">
                    <div class="accordion__item-body">
                      <p>Fully responsive, retina ready & created for all types of devices. York makes sure your
                        website
                        looks equally breathtaking when viewed on all screen resolutions.Fully responsive, retina
                        ready
                        & created for all types of devices. York makes sure your website looks equally breathtaking
                        when
                        viewed on all screen resolutions.</p>
                    </div><!-- /.accordion-item-body -->
                  </div>
                </div><!-- /.accordion-item -->
                <div class="accordion-item opened">
                  <div class="accordion__item-header" data-toggle="collapse" data-target="#collapse3">
                    <a class="accordion__item-title" href="#">What Payment Methods Are Available?</a>
                  </div><!-- /.accordion-item-header -->
                  <div id="collapse3" class="collapse show" data-parent="#accordion">
                    <div class="accordion__item-body">
                      <p>With any financial product that you buy, it is important that you know you are getting the best
                        advice from a reputable company as often you will have to provide sensitive information online or
                        over the internet.</p>
                    </div><!-- /.accordion-item-body -->
                  </div>
                </div><!-- /.accordion-item -->
              </div><!-- /.accordion -->
  
              <div class="text-block mb-40">
                <h5 class="text-block__title">How It Works?!</h5>
                <p class="text-block__desc">We have more than twenty years of experience. During that time, we’ve become
                  expert in freight transportation by air and all its related services. We work closely with all major
                  airlines around the world. Ongoing negotiations ensure that we always have the cargo space we need and
                  offer you competitive rates.</p>
              </div><!-- /.text-block -->
  
              <div class="video-banner">
                <img src="assets/images/banners/5.jpg" alt="banner">
                <a class="video-btn video-btn-white popup-video" href="https://www.youtube.com/watch?v=nrJtHemSPW4">
                  <div class="video-btn__player">
                    <i class="fa fa-play"></i>
                  </div>
                </a>
              </div><!-- /.video -->
            </div><!-- /.col-lg-8 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.Text Content Section -->





{% endblock %}